header{
    width: 88%;
    margin: auto;
    background: #283618;
    color: #fefae0;
    line-height: 120px;
    padding-left: 2%;
}
nav{
    background: #283618;
    height: 50px;
    line-height: 50px;
    width: 90%;
    margin: auto;
    position: relative;
}
nav ul{
    list-style: none;
}

nav ul li a{
    float: left;
    width: 60px;
    display: block;
    text-align: center;
    color: #fefae0;
    text-decoration: none;
}
#container{
    width: 90%;
    margin: auto;
    min-height: 100px;
    background: #fefae0;
    overflow: hidden;
}
.kiri{
    float: left;
    width: 69%;
    margin: auto;
}
.conten{
    border: 2px solid #283618;
    margin-top: 1pc;
    padding: 0pc 2pc 2pc 2pc;
}
.kanan{
    float: right;
    width: 29%;
    margin: auto;
}
.kanan ul{
    list-style: none;
    line-height: 40px;
    padding: 0%;
    margin-bottom: 10px;
}
.kanan ul li a{
    text-decoration: none; 
}
footer{
    background: #283618;
    height: 50px;
    line-height: 50px;
    width: 88%;
    margin: auto;
    position: relative;
    color: #fefae0;
    padding-left: 2%;
}